<% include partials/header %>
    <link rel="stylesheet" href="/style.css">
<% include partials/headerBottom %>
<form action="/bolsista/:<%= outBolsista._id %>?_method=PUT" method="POST" class="sendForm container">
    <div class="get_data">
        <div class="item">
            <label for="cpf">CPF</label>
            <input type="text" value="<%= outBolsista.cpf %>" id="cpf" name="cpf">
        </div>
        <div class=" item">
            <label for="nome">Nome Bolsista</label>
            <input type="text" value="<%= outBolsista.nome %>" id="nome" name="nome">
        </div>
        <div class="select-sexo">
            <label for="sexo">Sexo</label>
            <select class="sexo" id="sexo" name="sexo">
                <option value="<%=outBolsista.sexo%>"selected="selected"><%=outBolsista.sexo%></option>
                <option value="female">Feminino</option>
                <option value="male">Masculino</option>
            </select>
        </div>
        <div class="select-clbr">
            <label for="clbr">Cadastro por:</label>
            <select class="clbr" id="clbr" name="clbr">
                <option value="<%=outBolsista.colaborador%>" selected="selected"><%=outBolsista.colaborador%></option>
                <option value="Cid">Cid</option>
                <option value="Carlos">Carlos</option>
                <option value="Mayra">Mayra</option>
                <option value="Mônica">Mônica</option>
                <option value="Gilson">Gilson</option>
                <option value="Pricilla">Pricilla</option>
                <option value="André">André</option>
            </select>
        </div>
    </div>
    <div class="btn-lg">
        <button>Salvar</button>
    </div>
</form>
<% include partials/footer %>