<% include partials/header %>
    <link rel="stylesheet" href="/style.css">
<% include partials/headerBottom %>
    <header class="jumbotron">
        <div class="container">
            <h1>Formulário Teste</h1>
        </div>
    </header>
    <!-- Note the use of the for attribute on all <label> elements; it's a formal way to link a label to a form widget. This attribute references the id of the corresponding widget. -->
    <form method="POST" class="sendForm container">
        <div class="get_data">
            <div class="item">
                <label for="cpf">CPF</label>
                <input type="text" placeholder="qualquer número" id="cpf" name="cpf">
            </div>
            <div class=" item">
                <label for="nome">Nome Bolsista</label>
                <input type="text" placeholder="qualquer nome" id="nome" name="nome">
            </div>
            <div class="select-sexo">
                <label for="sexo">Sexo</label>
                <select class="sexo" id="sexo" name="sexo">
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
            <div class="select-clbr">
                <label for="clbr">Cadastro por:</label>
                <select class="clbr" id="clbr" name="clbr">
                    <option value="Cid">Cid</option>
                    <option value="Carlos">Carlos</option>
                    <option value="Mayra">Mayra</option>
                    <option value="Mônica">Mônica</option>
                    <option value="Gilson">Gilson</option>
                    <option value="Pricilla">Pricilla</option>
                    <option value="André">André</option>
                </select>
            </div>
        </div>
        <div class="btn-lg">
            <button>Salvar</button>
        </div>
    </form>
    <div class="row">
        <% outBolsistas.forEach(function(bolsista){ %>
        <div class="ans_list col-md-3 col-sm-6">
            <div class="thumbnail">
                <li>CPF: <%=bolsista.cpf%></li>
                <li>Nome: <%=bolsista.nome%></li>
                <li>Sexo: <%=bolsista.sexo%></li>
                <li>Colaborador: <%=bolsista.colaborador%></li>
            </div>
            <p>
                <a href="/bolsista/<%= bolsista._id %>" class="btn btn-primary">Info</a>
                <a href="/bolsista/<%= bolsista._id %>/edit" class="btn btn-primary">Editar Info</a>
            </p>
        </div>
    <% }); %>
    </div>
<% include partials/footer %>