<div class="modal fade bd-modalDadosPessoais-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDadosPessoais" aria-hidden="true" id="modalDadosPessoais">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Dados Pessoais</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div>
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>
            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <div class="container-fluid">
                    <form action='/editardadospessoais/<%=bolCons.cpf%>?_method=PUT' method="POST">

                        <div class="row mb-2">
                            <div class="col-1"></div>

                            <div class="card col border border-rounded-bottom mr-1 py-.25 pl-.5">
                                <div class="form-group">
                                    <h5 for="email" style="color: black;">Email</h5>
                                    <% if(bolCons.email.length > 0){ %>
                                        <input required type="email" class="form-control" id='bolsista[email]' name='bolsista[email]' placeholder="nome@examplo.com" value= <%= bolCons.email[(bolCons.email.length)-1].email %> >
                                    <% } else{ %>
                                        <input required type="email" class="form-control" id='bolsista[email]' name='bolsista[email]' placeholder="nome@examplo.com">
                                    <% } %>
                                    <h5 for="sexo" style="color: black;">Sexo</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[sexo]' id='bolsista[sexo]'>
                                    <% if(bolCons.sexo === 'sem info'){ %>
                                        <option>Selecione</option>
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else if(bolCons.sexo === 'Feminino') { %>
                                        <option selected>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else { %>
                                        <option selected>Masculino</option>
                                        <option>Feminino</option>
                                    <% } %> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-1"></div>
                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom ml-1 py-.25 pl-.5">
                                <h5>Documento Com Foto</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="tipoDocFoto">Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[tipoDocFoto]' id='bolsista[tipoDocFoto]'>
                                    <%var docFotoList = ['Selecione','Identidade','Carteira de Motorista','Registro Profissional','Passaporte','Carteira de Trabalho'];%>
                                    <% var indexFoto = (bolCons.docFoto.length)-1; %>
                                    <% if(indexFoto <= 0){ %>
                                        <% docFotoList.forEach((doc) => { %>
                                            <option><%= doc %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% var docuFoto = bolCons.docFoto[indexFoto]; %>
                                        <% docFotoList.shift() %>;
                                        <% docFotoList.forEach((docList) => { %>
                                            <% if(docList === docuFoto.doc){ %>
                                                <option selected><%= docList %></option>
                                            <% } else { %>
                                                <option><%= docList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="regDocFoto">Regularidade do Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regDocFoto]' id='bolsista[regDocFoto]'>
                                    <% if(indexFoto <= 0){ %>
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuFoto.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvDocFoto">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvDocFoto]' id='bolsista[obsvDocFoto]'>
                                        <%var obsvFotoList = ['Selecione','Ausente','Cópia Ilegível','Sem Assinatura','Sem Observações','Sem Foto','Vencida'];%>
                                        <% if(indexFoto <= 0){ %>
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <option><%= obsvList %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% obsvFotoList.shift() %>;
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <% if(obsvList === docuFoto.obsv){ %>
                                                    <option selected><%= obsvList %></option>
                                                <% } else { %>
                                                    <option><%= obsvList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Comprovante de Residência</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="tipoDocRes">Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[tipoDocRes]' id='bolsista[tipoDocRes]'>
                                        <%var docResList = ['Selecione','Conta de Água','Conta de Luz','Conta de Telefone','Correspondência Bancária','Correspondência Comercial'];%>
                                        <% var indexRes = (bolCons.docRes.length)-1; %>
                                        <% if(indexRes <= 0){ %>
                                            <% docResList.forEach((doc) => { %>
                                                <option><%= doc %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% var docuRes = bolCons.docRes[indexRes]; %>
                                            <% docResList.shift() %>;
                                            <% docResList.forEach((docList) => { %>
                                                <% if(docList === docuRes.doc){ %>
                                                    <option selected><%= docList %></option>
                                                <% } else { %>
                                                    <option><%= docList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                    <h5 style="color: black;" for="regDocRes">Regularidade do Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regDocRes]' id='bolsista[regDocRes]'>
                                    <% if(indexRes <= 0){ %>
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuRes.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvDocRes">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvDocRes]' id='bolsista[obsvDocRes]'>
                                    <%var obsvResList = ['Selecione','Ilegível','Ausente','Sem Observações'];%>
                                    <% if(indexRes <= 0){ %>
                                        <% obsvResList.forEach((obsvList) => { %>
                                            <option><%= obsvList %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvResList.shift() %>;
                                        <% obsvResList.forEach((obsvList) => { %>
                                            <% if(obsvList === docuRes.obsv){ %>
                                                <option selected><%= obsvList %></option>
                                            <% } else { %>
                                                <option><%= obsvList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">
                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Termo de Compromisso do Bolsista</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="regTermo">Regularidade do Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regTermo]' id='bolsista[regTermo]'>
                                    <% var indexTermo = (bolCons.termo.length)-1; %>
                                    <% var termo = bolCons.termo[indexTermo]; %>
                                    <% if(indexTermo <= 0){ %>
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(termo.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvTermo">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvTermo]' id='bolsista[obsvTermo]'>
                                    <%var obsvTermoList = ['Selecione','Assinado Após Pagamento','Ausente','Ilegível','Sem Assinatura','Sem Observações'];%>
                                    <% if(indexTermo <= 0){ %>
                                        <% obsvTermoList.forEach((obsvList) => { %>
                                            <option><%= obsvList %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvTermoList.shift() %>;
                                        <% obsvTermoList.forEach((obsvList) => { %>
                                            <% if(obsvList === termo.obsv){ %>
                                                <option selected><%= obsvList %></option>
                                            <% } else { %>
                                                <option><%= obsvList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>