<div class="modal fade bd-modalDeclaracao-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDeclaracao" aria-hidden="true" id="modalDeclaracao">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informar Declaração de Permanência</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>
            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <form action='/adddeclaracao/<%=bolCons.cpf%>?_method=PUT' method="POST">
                    <% var ufList = [] %>
                    <% municipios.forEach(mun => { %>
                        <% if(!ufList.includes(mun.uf)){ %>
                            <% ufList.push(mun.uf) %>
                        <% } %>                        
                    <% }); %>
                    <h5><strong>Declaração de Permanência</strong></h5>

                    <div class="card mt-2 mb-3 my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <div class="form-group">
                                <h5 style="color: black;">Município da Escola Emissora</h5>

                                <div class="form-row">

                                    <div class="col">
                                        <label for="bolsista[ufDecl]">Unidade Federativa</label>
                                        <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[ufDecl]' id='bolsista[ufDecl]'>
                                            <option value=''>Selecione</option>
                                        <% ufList.forEach(uf => { %>
                                            <option value="<%= uf %>"><%= uf %></option>
                                        <% }); %>
                                        </select>
                                    </div>

                                    <div class="col-1">
                                        <select style="display: none;" class="form-control custom-select inlineFormCustomSelect" id='noDisplayMun'>
                                        <% municipios.forEach(mun => { %>
                                            <option value= <%= mun.uf %> > <%= mun.nome %> </option>
                                        <% }); %>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="bolsista[munDecl]">Município</label>
                                        <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[munDecl]' id='bolsista[munDecl]'>
                                            <option value=''>Selecione</option>
                                        </select>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-4 card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Permanência (meses)</h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[perm]" id="bolsista[perm]">
                                        <option value=''>Selecione</option>
                                        <% for(var mes = 0; mes <= 95; mes++){ %>
                                            <option><%=mes%></option>
                                        <% } %>
                                        <option>96+</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Regularidade da Declaração</h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[regDecl]" id="bolsista[regDecl]">
                                        <option value=''>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row justify-content-center">

                        <div class="col-12 card mb-4 mx-2 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">Observação da Declaração</h5>
                                <div class="form-group">
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvDecl]' id='bolsista[obsvDecl]'>
                                    <%var obsvDeclList = ['Ausente','Cópia Ilegível','Sem Assinatura','Sem Observações','Pendente', 'Período de Permanência a Iniciar'];%>
                                        <option class="optClassDecl" value=''>Selecione</option>
                                        <% obsvDeclList.forEach((obs) => { %>
                                            <option class="optClassDecl"><%= obs %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div>
                                    <footer style="text-align: left; color: #cc7000;"><strong>*A opção 'Período de Permanência a Iniciar' somente deverá ser assinalada quando o Status do Curso do bolsista for 'Cursando (Reingresso)'.</strong></footer>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                
            </div>
        </div>
    </div>
</div>