<div class="modal fade bd-modalEditDeclaracao-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalEditDeclaracao" aria-hidden="true" id="modalEditDeclaracao">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Editar Declaração de Permanência</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="editHeader">
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>

            <div style="display: none;">
                <% declaracoes = bolCons.declaracao %>
                <ul id="declaraList">
                    <% declaracoes.forEach(declara =>{ %>
                        <% obj = `{"_id": "${declara._id}", "municipioEscola": { "nome": "${declara.municipioEscola.nome}", "uf": "${declara.municipioEscola.uf}"}, "permanencia": ${declara.permanencia}, "regular": "${declara.regular}", "obsv": "${declara.obsv}"}` %>
                        <li data-value='<%= obj %>'> </li>
                    <% }) %>
                </ul>
            </div>

            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <form action='/editdeclaracao/<%=bolCons.cpf%>?_method=PUT' method="POST" id="formEditDeclara">
                    <input type="hidden" name="user" id="user" value="<%=currentUser.fullname%>">

                    <h5><strong>Declaração de Permanência</strong></h5>

                    <div class="card mt-2 mb-3 my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <div class="form-group">
                                <h5 style="color: black;">Município da Escola Emissora</h5>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="bolsista[EditUfDecl]">Unidade Federativa</label>
                                        <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[EditUfDecl]' id='bolsista[EditUfDecl]'>
                                            <% var ufList = [] %>
                                            <% municipios.forEach(mun => { %>
                                                <% if(!ufList.includes(mun.uf)){ %>
                                                    <% ufList.push(mun.uf) %>
                                                <% } %>                        
                                            <% }); %>
                                            <option value=''>Selecione</option>
                                        <% ufList.forEach(uf => { %>
                                            <option value="<%= uf %>"><%= uf %></option>
                                        <% }); %>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="bolsista[munDecl]">Município</label>
                                        <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[editMunDecl]' id='bolsista[editMunDecl]'>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-4 card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Permanência (meses)</h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[editPerm]" id="bolsista[editPerm]">
                                        <option value=''>Selecione</option>
                                        <% for(var mes = 0; mes <= 95; mes++){ %>
                                            <option><%=mes%></option>
                                        <% } %>
                                        <option>96+</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Regularidade da Declaração <footer><strong>(Refere-se ao Documento no SEI)</strong></footer></h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[editRegDecl]" id="bolsista[editRegDecl]">
                                        <option value=''>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row justify-content-center">

                        <div class="col-12 card mb-4 mx-2 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">Observação da Declaração</h5>
                                <div class="form-group">
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[editObsvDecl]' id='bolsista[editObsvDecl]'>
                                    <%var obsvDeclList = ['Ausente','Cópia Ilegível','Sem Assinatura','Sem Observações'];%>
                                        <option class="optClassEditDecl" value=''>Selecione</option>
                                    <% obsvDeclList.forEach((obs) => { %>
                                        <option class="optClassEditDecl"><%= obs %></option>
                                    <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>

        </div>
    </div>
</div>