<div class="modal fade bd-modalCompromisso-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalCompromisso" aria-hidden="true" id="modalCompromisso">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Análise do Compromisso</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>
            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <form action='/editarcompromisso/<%=bolCons.cpf%>?_method=PUT' method="POST">
                    <input type="hidden" name="user" id="user" value="<%=currentUser.fullname%>">
                    <% var ufList = [] %>
                    <% municipios.forEach(mun => { %>
                        <% if(!ufList.includes(mun.uf)){ %>
                            <% ufList.push(mun.uf) %>
                        <% } %>                        
                    <% }); %>
                    <h5><strong>Documento de Conclusão do Curso</strong></h5>
                    <div class="card mt-2 mb-3 my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <div class="form-group">
                                <h5 style="color: black;">Instituição de Ensino Emissora</h5>

                                <div class="form-row justify-content-center">
                                    <div class="col">
                                        <label for="bolsista[ufCert]">Unidade Federativa da Ies</label>
                                        <select class="form-control custom-select inlineFormCustomSelect" name='bolsista[ufCert]' id='bolsista[ufCert]' required>
                                        <% var indexCert = (bolCons.certConclusao.length)-1; %>
                                        <% var certificado = bolCons.certConclusao[indexCert]; %>
                                        <% if(indexCert < 0){ %>
                                            <option value=''>Selecione</option>
                                            <% ufList.forEach(uf => { %>
                                                <option value="<%= uf %>"><%= uf %></option>
                                            <% }); %>
                                        <% } else{ %>
                                            <% ufList.forEach(uf => { %>
                                                <% if(uf == certificado.ies.uf){ %>
                                                    <option value="<%= uf %>" selected><%= certificado.ies.uf %></option>
                                                <% } else { %>
                                                    <option value="<%= uf %>"><%= uf %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                        </select>
                                    </div>

                                    <div class="col-1">
                                        <select style="display: none;" class="form-control custom-select inlineFormCustomSelect" id='noDisplayIes'>
                                            <% entidades.forEach(ies => { %>
                                                <option value= <%= ies.uf %> > <%= ies.sigla %> </option>
                                            <% }); %>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="bolsista[iesCert]">Instituição de Ensino</label>
                                        <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[iesCert]' id='bolsista[iesCert]'>
                                        <% if(indexCert < 0){ %>
                                            <option value=''>Selecione</option>
                                        <% } else { %>
                                            <option> <%= certificado.ies.sigla %> </option>
                                        <% } %>
                                        </select>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">

                        <div class="col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">Situação do Curso</h5>
                                <div class="form-group">
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[status]' id='bolsista[status]'>
                                    <% var statusList = ['Concluído','Concluído (Após Prazo Regular)','Evasão','Cursando','Reprovado','Pendente de Informação']; %>
                                    <% var indexStatus = (bolCons.statusCurso.length)-1; %>
                                    <% var statusCurso = bolCons.statusCurso[indexStatus]; %>
                                    <% if(indexStatus < 0){ %>
                                        <option value=''>Selecione</option>
                                        <% statusList.forEach((stat) => { %>
                                            <option><%= stat %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% statusList.forEach((statList) => { %>
                                            <% if(statList === statusCurso.status){ %>
                                                <option selected><%= statList %></option>
                                            <% } else { %>
                                                <option><%= statList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">Data do Status Curso</h5>
                                <div class="form-group">
                                    <% if(indexStatus < 0){ %>
                                        <input required class="mx-auto" type="month" id="start" name="bolsista[dataConcl]" min="2011-03" value=''>
                                    <% } else { %>
                                        <% var month = statusCurso.data.getMonth() %>
                                        <% var year = statusCurso.data.getFullYear(); %>
                                        <% if(month != 11){ %>
                                            <% month = month+2; %>
                                            <% if(month <= 9){ %>
                                                <% month = '0'+ month; %>
                                                <% var date = year+'-'+month %>
                                                <input required class="mx-auto" type="month" id="start" name="bolsista[dataConcl]" min="2011-03" value='<%=date%>'>
                                            <% } else { %>
                                                <% var date = year+'-'+month %>
                                                <input required class="mx-auto" type="month" id="start" name="bolsista[dataConcl]" min="2011-03" value='<%=date%>'>
                                            <% } %>
                                        <% } else { %>
                                            <% month = '01' %>
                                            <% year = year+1; %>
                                            <% var date = year+'-'+month%>
                                            <input required class="mx-auto" type="month" id="start" name="bolsista[dataConcl]" min="2011-03" value='<%=date%>'>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div>
                                    <footer style="text-align: left; color: #cc7000;"><strong>*Em caso de Cursando (Reingresso), a data do status do curso informada deverá ser a previsão de término do curso.</strong></footer>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row justify-content-center">

                        <div class="col-4 card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black; text-align: center;">Regularidade do Documento de Conclusão do Curso <footer><strong>(Refere-se ao Documento no SEI)</strong></footer></h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[regCert]" id="bolsista[regCert]">
                                        <<% if(indexCert < 0){ %>
                                            <option value=''>Selecione</option>
                                            <option>Regular</option>
                                            <option>Irregular</option>
                                        <% } else if(certificado.regular === 'Regular') { %>
                                            <option selected>Regular</option>
                                            <option>Irregular</option>
                                        <% } else { %>
                                            <option selected>Irregular</option>
                                            <option>Regular</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">Observação do Documento de Conclusão do Curso</h5>
                                <div class="form-group">
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvCert]' id='bolsista[obsvCert]'>
                                    <%var obsvCertList = ['Ausente','Cópia Ilegível','Sem Assinatura','Sem Observações'];%>
                                    <% if(indexCert < 0){ %>
                                        <option class="optObsvDocCert" value=''>Selecione</option>
                                        <% obsvCertList.forEach((obs) => { %>
                                            <option class="optObsvDocCert"><%= obs %></option class="optObsvDocCert">
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvCertList.forEach((obs) => { %>
                                            <% if(obs === certificado.obsv){ %>
                                                <option class="optObsvDocCert" selected><%= obs %></option>
                                            <% } else { %>
                                                <option class="optObsvDocCert"><%= obs %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <h5><strong>Resultado da Análise</strong></h5>
                    <div class="form-row">

                        <div class=" col-4 card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Resultado da Análise</h5>
                                <div class="form-group mb-0">
                                    <select required class="form-control custom-select inlineFormCustomSelect mx-auto" name="bolsista[resAna]" id="bolsista[resAna]">
                                        <% var indexAnaRes = (bolCons.analiseCompromisso.length)-1; %>
                                        <% var analiseCompromisso = bolCons.analiseCompromisso[indexAnaRes]; %>
                                        <<% if(indexAnaRes < 0){ %>
                                            <option value=''>Selecione</option>
                                            <option>Regular</option>
                                            <option>Irregular</option>
                                        <% } else if(analiseCompromisso.regular === 'Regular') { %>
                                            <option selected>Regular</option>
                                            <option>Irregular</option>
                                        <% } else { %>
                                            <option selected>Irregular</option>
                                            <option>Regular</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class=" col card mb-2 ml-1 mr-1 py-.25 pl-.5">
                            <div class="card-body">
                                <h5 class="card-title mb-.25" style="color: black;">Observação Adicional</h5>
                                <div class="form-group">
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvAna]' id='bolsista[obsvAna]'>
                                    <%var obsvAnaReslList = ['Sem Observações','Recebeu mais de 24 Bolsas'];%>
                                    <% if(indexAnaRes < 0){ %>
                                        <option class="optClassAna" value=''>Selecione</option>
                                        <% obsvAnaReslList.forEach((obs) => { %>
                                            <option class="optClassAna"><%= obs %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvAnaReslList.forEach((obs) => { %>
                                            <% if(obs === analiseCompromisso.obsv){ %>
                                                <option class="optClassAna" selected><%= obs %></option>
                                            <% } else { %>
                                                <option class="optClassAna"><%= obs %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                
            </div>
        </div>
    </div>
</div>