<div class="modal fade bd-modalDadosPessoais-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDadosPessoais" aria-hidden="true" id="modalDadosPessoais">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Editar Dados Pessoais</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <div class="container-fluid">
                    <form action='/salvarbolsista' method="POST">
                        <input type = "hidden" name = "consulta" value = <%= bolCons.cpf %> >

                        <div class="row mb-2">
                            <div class="col-1"></div>

                            <div class="card col border border-rounded-bottom mr-1 py-.25 pl-.5">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <% if(bolCons.email.length > 0){ %>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="nome@examplo.com" value= <%= bolCons.email[(bolCons.email.length)-1].email %> >
                                    <% } else{ %>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="nome@examplo.com">
                                    <% } %>
                                    <label for="sexo">Sexo</label>
                                    <select class="form-control" name="sexo" id="sexo">
                                    <% if(bolCons.sexo === 'sem info'){ %>
                                        <option>Selecione</option>
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else if(bolCons.sexo === 'Feminino') { %>
                                        <option selected>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else { %>
                                        <option selected>Masculino</option>
                                        <option>Feminino</option>
                                    <% } %> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-1"></div>
                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom ml-1 py-.25 pl-.5">
                                <h5>Documento Com Foto</h5>
                                <div class="form-group">
                                    <label for="tipoDocFoto">Documento</label>
                                    <select class="form-control" name="tipoDocFoto" id="tipoDocFoto">
                                    <%var docFotoList = ['Selecione','Identidade','Carteira de Motorista','Registro Profissional','Passaporte','Carteira de Trabalho'];%>
                                    <% var indexFoto = (bolCons.docFoto.length)-1; %>
                                    <% if(indexFoto <= 0){ %>
                                        <% docFotoList.forEach((doc) => { %>
                                            <option><%= doc %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% var docuFoto = bolCons.docFoto[indexFoto]; %>
                                        <% docFotoList.shift() %>;
                                        <% docFotoList.forEach((docList) => { %>
                                            <% if(docList === docuFoto.doc){ %>
                                                <option selected><%= docList %></option>
                                            <% } else { %>
                                                <option><%= docList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                    <label for="regDocFoto">Regularidade do Documento</label>
                                    <select class="form-control" name="regDocFoto" id="regDocFoto">
                                    <% if(indexFoto <= 0){ %>
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuFoto.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <label for="obsvDocFoto">Observação</label>
                                    <select class="form-control" name="obsvDocFoto" id="obsvDocFoto">
                                        <%var obsvFotoList = ['Selecione','Ausente','Cópia Ilegível','Sem Assinatura','Sem Observação','Sem Foto','Vencida'];%>
                                        <% if(indexFoto <= 0){ %>
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <option><%= obsvList %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% obsvFotoList.shift() %>;
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <% if(obsvList === docuFoto.obsv){ %>
                                                    <option selected><%= obsvList %></option>
                                                <% } else { %>
                                                    <option><%= obsvList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Comprovante de Residência</h5>
                                <div class="form-group">
                                    <label for="tipoDocRes">Documento</label>
                                    <select class="form-control" name="tipoDocRes" id="tipoDocRes">
                                        <%var docResList = ['Selecione','Conta de Água','Conta de Luz','Conta de Telefone','Correspondência Bancária','Correspondência Comercial'];%>
                                        <% var indexRes = (bolCons.docRes.length)-1; %>
                                        <% if(indexRes <= 0){ %>
                                            <% docResList.forEach((doc) => { %>
                                                <option><%= doc %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% var docuRes = bolCons.docRes[indexRes]; %>
                                            <% docResList.shift() %>;
                                            <% docResList.forEach((docList) => { %>
                                                <% if(docList === docuRes.doc){ %>
                                                    <option selected><%= docList %></option>
                                                <% } else { %>
                                                    <option><%= docList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                    <label for="regDocRes">Regularidade do Documento</label>
                                    <select class="form-control" name="regDocRes" id="regDocRes">
                                    <% if(indexRes <= 0){ %>
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuRes.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <label for="obsvDocRes">Observação</label>
                                    <select class="form-control" name="obsvDocRes" id="obsvDocRes">
                                        <option>Selecione</option>
                                        <option>Sem Observações</option>
                                        <option>Ilegível</option>
                                        <option>Ausente</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">
                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Termo de Compromisso do Bolsista</h5>
                                <div class="form-group">
                                    <label for="regTermo">Regularidade do Documento</label>
                                    <select class="form-control" name="regTermo" id="regTermo">
                                        <option>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    </select>
                                    <label for="obsvTermo">Observação</label>
                                    <select class="form-control" name="obsvTermo" id="obsvTermo">
                                        <option>Selecione</option>
                                        <option>Sem Observações</option>
                                        <option>Ilegível</option>
                                        <option>Ausente</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>