<div class="modal fade bd-modalDadosPessoais-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDadosPessoais" aria-hidden="true" id="modalDadosPessoais">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Dados Pessoais</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div>
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>
            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <div class="container-fluid">
                    <form action='/editardadospessoais/<%=bolCons.cpf%>?_method=PUT' method="POST">
                        <input type="hidden" name="user" id="user" value="<%=currentUser.fullname%>">

                        <div class="row mb-2">
                            <div class="col-1"></div>

                            <div class="card col border border-rounded-bottom mr-1 py-.25 pl-.5">
                                <div class="form-group">
                                    <h5 for="email" style="color: black;">Email</h5>
                                    <% if(bolCons.email.length > 0){ %>
                                        <input required type="email" class="form-control" id='bolsista[email]' name='bolsista[email]' placeholder="nome@examplo.com" value= <%= bolCons.email[(bolCons.email.length)-1].email %> >
                                    <% } else{ %>
                                        <input required type="email" class="form-control" id='bolsista[email]' name='bolsista[email]' value="ausente@ausente.com">
                                    <% } %>
                                    <h5 for="sexo" style="color: black;">Sexo</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[sexo]' id='bolsista[sexo]'>
                                    <% if(bolCons.sexo === 'sem info'){ %>
                                        <option value=''>Selecione</option>
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else if(bolCons.sexo === 'Feminino') { %>
                                        <option selected>Feminino</option>
                                        <option>Masculino</option>
                                    <% } else { %>
                                        <option selected>Masculino</option>
                                        <option>Feminino</option>
                                    <% } %> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-1"></div>
                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom ml-1 py-.25 pl-.5">
                                <h5>Documento de Identificação</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="tipoDocFoto">Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[tipoDocFoto]' id='bolsista[tipoDocFoto]'>
                                    <%var docFotoList = ['Identidade','Carteira de Motorista','Registro Profissional','Passaporte','Carteira de Trabalho','Ausente','Óbito'];%>
                                    <% var indexFoto = (bolCons.docFoto.length)-1; %>
                                    <% if(indexFoto < 0){ %>
                                        <option value=''>Selecione</option>
                                        <% docFotoList.forEach((doc) => { %>
                                            <option><%= doc %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% var docuFoto = bolCons.docFoto[indexFoto]; %>
                                        <% docFotoList.forEach((docList) => { %>
                                            <% if(docList === docuFoto.doc){ %>
                                                <option selected><%= docList %></option>
                                            <% } else { %>
                                                <option><%= docList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="regDocFoto">Regularidade do Documento <footer><strong>(Refere-se ao Documento no SEI)</strong></footer></h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regDocFoto]' id='bolsista[regDocFoto]'>
                                    <% if(indexFoto < 0){ %>
                                        <option value=''>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuFoto.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvDocFoto">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvDocFoto]' id='bolsista[obsvDocFoto]'>
                                        <%var obsvFotoList = ['Cópia Ilegível','Sem Assinatura','Sem Observações','Sem Foto','Vencida'];%>
                                        <% if(indexFoto < 0){ %>
                                            <option class="optObsvDocIde" value=''>Selecione</option>
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <option class="optObsvDocIde"><%= obsvList %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% obsvFotoList.forEach((obsvList) => { %>
                                                <% if(obsvList === docuFoto.obsv){ %>
                                                    <option class="optObsvDocIde" selected><%= obsvList %></option>
                                                <% } else { %>
                                                    <option class="optObsvDocIde"><%= obsvList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">

                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Comprovante de Residência</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="tipoDocRes">Documento</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[tipoDocRes]' id='bolsista[tipoDocRes]'>
                                        <%var docResList = ['Conta de Água','Conta de Luz','Conta de Telefone','Correspondência Bancária','Correspondência Comercial','Ausente'];%>
                                        <% var indexRes = (bolCons.docRes.length)-1; %>
                                        <% if(indexRes < 0){ %>
                                            <option value=''>Selecione</option>
                                            <% docResList.forEach((doc) => { %>
                                                <option><%= doc %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <% var docuRes = bolCons.docRes[indexRes]; %>
                                            <% docResList.forEach((docList) => { %>
                                                <% if(docList === docuRes.doc){ %>
                                                    <option selected><%= docList %></option>
                                                <% } else { %>
                                                    <option><%= docList %></option>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                    <h5 style="color: black;" for="regDocRes">Regularidade do Documento <footer><strong>(Refere-se ao Documento no SEI)</strong></footer></h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regDocRes]' id='bolsista[regDocRes]'>
                                    <% if(indexRes < 0){ %>
                                        <option value=''>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(docuRes.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvDocRes">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvDocRes]' id='bolsista[obsvDocRes]'>
                                    <%var obsvResList = ['Ilegível','Sem Observações','O Bolsista não é o Titular'];%>
                                    <% if(indexRes < 0){ %>
                                        <option class="optObsvDocRes" value=''>Selecione</option>
                                        <% obsvResList.forEach((obsvList) => { %>
                                            <option class="optObsvDocRes"><%= obsvList %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvResList.forEach((obsvList) => { %>
                                            <% if(obsvList === docuRes.obsv){ %>
                                                <option class="optObsvDocRes" selected><%= obsvList %></option>
                                            <% } else { %>
                                                <option class="optObsvDocRes"
                                                ><%= obsvList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">
                            <div class="card col border border-rounded-bottom my-1 py-.25 pl-.5">
                                <h5>Termo de Compromisso do Bolsista</h5>
                                <div class="form-group">
                                    <h5 style="color: black;" for="regTermo">Regularidade do Documento <footer><strong>(Refere-se ao Documento no SEI)</strong></footer></h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[regTermo]' id='bolsista[regTermo]'>
                                    <% var indexTermo = (bolCons.termo.length)-1; %>
                                    <% var termo = bolCons.termo[indexTermo]; %>
                                    <% if(indexTermo < 0){ %>
                                        <option value=''>Selecione</option>
                                        <option>Regular</option>
                                        <option>Irregular</option>
                                    <% } else if(termo.regular === 'Regular') { %>
                                        <option selected>Regular</option>
                                        <option>Irregular</option>
                                    <% } else { %>
                                        <option selected>Irregular</option>
                                        <option>Regular</option>
                                    <% } %>
                                    </select>
                                    <h5 style="color: black;" for="obsvTermo">Observação</h5>
                                    <select required class="form-control custom-select inlineFormCustomSelect" name='bolsista[obsvTermo]' id='bolsista[obsvTermo]'>
                                    <%var obsvTermoList = ['Assinado Após Pagamento','Ilegível','Sem Assinatura','Sem Observações','Ausente'];%>
                                    <% if(indexTermo < 0){ %>
                                        <option class="optObsvDocTermo" value=''>Selecione</option>
                                        <% obsvTermoList.forEach((obsvList) => { %>
                                            <option class="optObsvDocTermo"><%= obsvList %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <% obsvTermoList.forEach((obsvList) => { %>
                                            <% if(obsvList === termo.obsv){ %>
                                                <option class="optObsvDocTermo" selected><%= obsvList %></option>
                                            <% } else { %>
                                                <option class="optObsvDocTermo"><%= obsvList %></option>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>