<div class="modal fade bd-modalCompromisso-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalCompromisso" aria-hidden="true" id="modalCompromisso">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Análise do Compromisso</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <h5 class="ml-3"> <%= bolCons.nome %> CPF: <%= bolCons.cpf %> </h5>
            </div>
            <div class="modal-body border border-rounded border-info mx-1 my-1">
                <form action='/editarcomrpomisso/<%=bolCons.cpf%>?_method=PUT' method="POST">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Situação do Curso</strong></h5>
                            <div class="form-group">
                                <select class="form-control custom-select inlineFormCustomSelect" name='bolsista[status]' id='bolsista[status]'>
                                <%var statusList = ['Selecione','Concluído','Desligado','Abandonou o Curso','Cursando (Reingresso)'];%>
                                <% var indexStatus = (bolCons.statusCurso.length)-1; %>
                                <% if(indexStatus <= 0){ %>
                                    <% statusList.forEach((stat) => { %>
                                        <option><%= stat %></option>
                                    <% }); %>
                                <% } else { %>
                                    <% var statusCurso = bolCons.statusCurso[indexStatus]; %>
                                    <% statusList.shift() %>;
                                    <% statusList.forEach((statList) => { %>
                                        <% if(statList === statusCurso.status){ %>
                                            <option selected><%= statList %></option>
                                        <% } else { %>
                                            <option><%= statList %></option>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2 mb-3 my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Data de Conclusão do Curso</strong></h5>
                            <div class="form-group">
                                <input class="mx-auto" type="month" id="start" name="start" min="2011-03" value=''>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2 mb-3 my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Certificado de Conclusão</strong></h5>
                            <div class="form-group">
                                <input class="mx-auto" type="month" id="start" name="start" min="2011-03" value=''>
                            </div>
                        </div>
                    </div>
                    
                     <div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>