<% include partials/header %>
    <link rel="stylesheet" href="/landingStyle.css"> 
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
         <div class="col-md-3"></div>
        <div class="col-6 col-md-6">
            <h1>Situação Geral das Análises</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row justify-content-start dadosPessoais border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">
             <table class="table table-sm table-bordered table-striped table-light table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center;" scope="col"></th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center;" scope="col">Término do Curso</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 14%" scope="col">Permanência</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center;" scope="col">Regularidade do T. Comp</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 14%" scope="col">Observação T. Comp</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center;" scope="col">Regularidade da Análise</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 14%" scope="col">Observação Adicional</th>
                        <th class='align-middle mx-auto sticky-top' style="text-align: center;" scope="col">Qtde. Bolsistas</th>
                    </tr>
                </thead>
                <tbody>
                <% var number = 0 %>
                <% dados.forEach((cat) => { %>
                    <% number = number+1; %>
                    <tr>
                        <form action="/resultadosnominal/<%=number%>" method="POST">
                            <input type="hidden" name="listaBolsistas" value="<%=cat.bolsistas%>">
                            <input type="hidden" name="paramRes[terminoCurso]" value="<%=cat._id.statusCurso%>">
                            <input type="hidden" name="paramRes[permanencia]" value="<%=cat._id.permanencia%>">
                            <input type="hidden" name="paramRes[regTermo]" value="<%=cat._id.regularidadeTermo%>">
                            <input type="hidden" name="paramRes[obsvTermo]" value="<%=cat._id.obsvTermo%>">
                            <input type="hidden" name="paramRes[regAnal]" value="<%=cat._id.regularidadeAnalise%>">
                            <input type="hidden" name="paramRes[obsvAnal]" value="<%=cat._id.obsvAnalise%>">
                                <td><%=number%></td>
                            <% if(cat._id.statusCurso == 'Concluído'){ %>
                                <td style="color: darkgreen; text-align: center"><strong><%=cat._id.statusCurso%></strong></td>
                            <%} else if(cat._id.statusCurso == 'Pendente de Informação') {%>
                                <td style="color:darkorange; text-align: center"><strong><%=cat._id.statusCurso%></strong></td>
                            <%} else {%>
                                <td style="color:darkred; text-align: center"><strong><%=cat._id.statusCurso%></strong></td>
                            <%}%>
                            <% if(cat._id.permanencia == 'Ao menos 60 meses'){ %>
                                <td style="color: darkgreen; text-align: center"><strong>Ao menos 60 meses</strong></td>
                            <%} else if(cat._id.permanencia == 'Sem Permanência') {%>
                                <td style="color:darkred; text-align: center"><strong><%=cat._id.permanencia%></strong></td>
                            <%} else { %>
                                <td style="color:darkorange; text-align: center"><strong><%=cat._id.permanencia%></strong></td>
                            <%}%>
                            <% if(cat._id.regularidadeTermo == 'Regular'){ %>
                                <td style="color: darkgreen; text-align: center"><strong>Regular</strong></td>
                            <%} else {%>
                                <td style="color:darkred; text-align: center"><strong><%=cat._id.regularidadeTermo%></strong></td>
                            <%}%>
                            <% if(cat._id.obsvTermo == 'Sem Observações'){ %>
                                <td style="color: darkgreen; text-align: center"><strong>Sem Observações</strong></td>
                            <%} else {%>
                                <td style="color:darkorange; text-align: center"><strong><%=cat._id.obsvTermo%></strong></td>
                            <%}%>
                            <% if(cat._id.regularidadeAnalise == 'Regular'){ %>
                                <td style="color: darkgreen; text-align: center"><strong>Regular</strong></td>
                            <%} else {%>
                                <td style="color:darkred; text-align: center"><strong><%=cat._id.regularidadeAnalise%></strong></td>
                            <%}%>
                            <% if(cat._id.obsvAnalise == 'Sem Observações'){ %>
                                <td style="color: darkgreen; text-align: center"><strong>Sem Observações</strong></td>
                            <%} else {%>
                                <td style="color:darkorange; text-align: center"><strong><%=cat._id.obsvAnalise%></strong></td>
                            <%}%>
                                <td><button type="submit" class="btn btn-sm btn-primary mx-auto my-auto"><strong><%=cat.qtdeBolsistas%></strong></button></td>
                        </form>
                    <% }); %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<% include partials/footer %>