<% include partials/header %>
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
        <div class="col-9 col-md-6">
            <h1>Bolsistas Atribuídos</h1>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row justify-content-start dadosPessoais border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <%var instance = allBols[0] %>
        <%var colaborador = instance.clbr[instance.clbr.length-1] %>
        <%var colaboradorNome = colaborador.user.fullname %>
        <h4>Colaborador: <%=colaboradorNome.toUpperCase()%></h4>
        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">
             <table class="table table-sm table-bordered table-striped table-light table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th class='align-middle mx-auto' style="text-align: center;" scope="col">Programa</th>
                        <th class='align-middle mx-auto' style="text-align: center; width: 14%" scope="col">SEI</th>
                        <th class='align-middle mx-auto' style="text-align: center; width: 10%" scope="col">CPF</th>
                        <th class='align-middle mx-auto' style="text-align: center;" scope="col">Nome</th>
                        <th class='align-middle mx-auto' style="text-align: center; width: 10%" scope="col">Análise Dados Pessoais</th>
                        <th class='align-middle mx-auto' style="text-align: center; width: 10%" scope="col">Análise Compromisso</th>
                        <th class='align-middle mx-auto' style="text-align: center; width: 10%" scope="col">Acompanhamento do Processo</th>
                        <th class='align-middle mx-auto' style="text-align: center;" scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <% allBols.forEach((bol) => { %>
                        <%let lastPay = bol.pags[bol.pags.length-1]%>
                        <%let programa = lastPay.programa%> 
                        <%let nomePro = programa.nome%>
                    <tr>
                        <td><%=nomePro%></td>
                        <td><%=bol.sei%></td>
                        <td><%=bol.cpf%></td>
                        <td><%=bol.nome%></td>
                        <% if(bol.docFoto.length > 0){ %>
                            <td style="color: darkgreen; text-align: center"><strong>Analisado</strong></td>
                        <%} else {%>
                            <td style="color:darkorange; text-align: center"><strong>Pendente</strong></td>
                        <%}%>
                        <% if((bol.analiseCompromisso.length > 0) && (bol.declaracao.length > 0)){ %>
                            <td style="color: darkgreen; text-align: center"><strong>Analisado</strong></td>
                        <%} else {%>
                            <td style="color:darkorange; text-align: center"><strong>Pendente</strong></td>
                        <%}%>
                        <% if(bol.pad.length > 0){ %>
                            <td style="color: darkgreen; text-align: center"><strong>Analisado</strong></td>
                        <%} else {%>
                            <td style="color:darkorange; text-align: center"><strong>Pendente</strong></td>
                        <%}%>
                        <td><a class="btn btn-sm btn-primary mx-auto my-auto" href='/paginadobolsista/<%=bol._id%>'>Ir</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            
        </div>

    </div>

</div>

<!-- closing elements -->
<% include partials/footer %>