<% include partials/header %>
    <link rel="stylesheet" href="showBolsista.css">
<% include partials/headerBottom %>
<div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-3">
        <h1>Consulta Bolsista</h1>
    </div>
    <div class="col-8"></div>
</div>

<div class="row mb-3 dadosPessoais">
    <div class="col-1">
    </div>
    <div class="col-10 border border-dark rounded mt-3 mb-3 ml-2 px-5 py-2">
        <h3>Dados Pessoais</h3>

        <div class="row border border-warning my-3 py-3 px-3">

            <div class="col">

                <div class="card my-1 py-.25 pl-.5">
                    <div class="border border-success rounded-bottom my-2 py-.5 mx-3">
                        <h5 class="my-1 ml-1">Nome</h5><h4 class="card-text my-1 ml-1"><%=bolCons.nome%></h4>
                    </div>
                     <div class="border border-success rounded-bottom my-2 py-.5 mx-3">
                        <h5 class="my-1 ml-1">CPF</h5><h4 class="my-1 ml-1"><%=bolCons.cpf%></h4>
                    </div>
                    <div class="border border-success rounded-bottom my-2 py-.5 mx-3">
                        <h5 class="my-1 ml-1">SEI</h5><h4 class="my-1 ml-1"><%=bolCons.sei%></h4>
                    </div>
                    <div class="border border-success rounded-bottom my-2 py-.5 mx-3">
                        <h5 class="my-1 ml-1">E-mail</h5><h6 class="my-1 ml-1"><%=bolCons.email%></h6>
                    </div>
                    <div class="border border-success rounded-bottom my-2 py-.5 mx-3">
                        <h5 class="my-1 ml-1">Sexo</h5><h6 class="my-1 ml-1"><%=bolCons.sexo%></h6>
                    </div>                    
                </div>
            </div>

            <div class="col">

                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">

                        <h5 class="card-title"><strong>Documento Com Foto</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.docFoto.length > 0){ %>
                            <% let docuFoto = bolCons.docFoto[((bolCons.docFoto).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Descrição</h5><h6 class="my-1 ml-1"><%=docuFoto.doc%></h6>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=docuFoto.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data da Observação</h5><h6 class="my-1 ml-1"><%=docuFoto.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=docuFoto.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data Regularidade</h5><h6 class="my-1 ml-1"><%=docuFoto.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=docuFoto.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>

                        <h5 class="card-title"><strong>Comprovante de Residência</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.termo.length > 0){ %>
                            <% let docuRes = bolCons.docRes[((bolCons.docRes).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Descrição</h5><h6 class="my-1 ml-1"><%=docuRes.doc%></h6>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=docuRes.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data da Observação</h5><h6 class="my-1 ml-1"><%=docuRes.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=docuRes.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data Regularidade</h5><h6 class="my-1 ml-1"><%=docuRes.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=docuRes.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>

                        <h5 class="card-title"><strong>Termo de Compromisso do Bolsista</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.termo.length > 0){ %>
                            <% let docuTermo = bolCons.termo[((bolCons.termo).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=docuTermo.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data do Observação</h5><h6 class="my-1 ml-1"><%=docuTermo.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=docuTermo.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data da Regularidade</h5><h6 class="my-1 ml-1"><%=docuTermo.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=docuTermo.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-5"></div>
            <button class="btn btn-md btn-primary col-1" data-toggle="modal" data-targe="#editDadosPessoais">Editar</button>
            <div class="col-2"></div>
            <%let colaborador = bolCons.clbr[((bolCons.clbr).length-1)].nome%>
            <%let Adata = bolCons.clbr[((bolCons.clbr).length-1)].data%> 
            <footer class="col-4">Bolsista atribuído(a) para <%=colaborador%> em: <%=Adata.getDate()%>/<%=Adata.getMonth()+1%>/<%=Adata.getFullYear()%></footer>
        </div>

    </div>
    <div class="col-1">
    </div>
</div>

<div class="row mb-3 analiseCompromisso">
    <div class="col-1">
    </div>
    <div class="col-10 border border-dark rounded mt-3 mb-3 ml-2 px-5 py-2">
        <h4>Análise do Compromisso</h4>

        <div class="row border border-warning my-3 py-3 px-3">

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Situação do Curso</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.statusCurso.length > 0){ %>
                            <% let curso = bolCons.statusCurso[((bolCons.statusCurso).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Situação do Curso</h5><h6 class="my-1 ml-1"><%=curso.status.sit%></h6>
                            <h5 class="my-1 ml-1">Data da Informação</h5><h6 class="my-1 ml-1"><%=curso.status.data%></h6>
                            <footer class="mx-auto">Informações por <%=curso.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Certificado de Conclusão</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.certConclusao.length > 0){ %>
                            <% let certificado = bolCons.certConclusao[((bolCons.certConclusao).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Instituição de Ensino</h5><h6 class="my-1 ml-1"><%=certificado.ies%></h6>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=certificado.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data do Observação</h5><h6 class="my-1 ml-1"><%=certificado.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=certificado.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data da Regularidade</h5><h6 class="my-1 ml-1"><%=certificado.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=certificado.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row border border-warning my-3 py-3 px-3">

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Declaração de Permanência</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.declaracao.length > 0){ %>
                            <% let declaracao = bolCons.declaracao[((bolCons.declaracao).length-1)]%> { %>
                            <h5 class="my-1 ml-1">Município da Escola</h5><h6 class="my-1 ml-1"><%=declaracao.escola.municipio%></h6>
                            <h5 class="my-1 ml-1">Permanência</h5><h6 class="my-1 ml-1"><%=declaracao.permanencia%></h6>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=declaracao.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data da Observação</h5><h6 class="my-1 ml-1"><%=declaracao.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=declaracao.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data Regularidade</h5><h6 class="my-1 ml-1"><%=declaracao.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=declaracao.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Resultado da Análise</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.analiseCompromisso.regular.length > 0){ %>
                            <% let compromisso = bolCons.analiseCompromisso %> { %>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=compromisso.motivo[0].tipo%></h6>
                            <h5 class="my-1 ml-1">Data do Observação</h5><h6 class="my-1 ml-1"><%=compromisso.motivo[0].data%></h6>
                            <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=compromisso.regular[0].sit%></h6>
                            <h5 class="my-1 ml-1">Data da Regularidade</h5><h6 class="my-1 ml-1"><%=compromisso.regular[0].data%></h6>
                            <footer class="mx-auto">Informações por <%=compromisso.user%></footer>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-5"></div>
            <button class="btn btn-md btn-primary col-1" data-toggle="modal" data-targe="#editDadosPessoais">Editar</button>
            <div class="col-2"></div>
            <div class="col-4"></div>
        </div>

    </div>
    <div class="col-1">
    </div>
</div>

<div class="row mb-3 processoAdministrativo">
    <div class="col-1">
    </div>
    <div class="col-10 border border-dark rounded mt-3 mb-3 ml-2 px-5 py-2">
        <h4>Processo Administrativo</h4>

        <div class="row border border-warning my-3 py-3 px-3">

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Acompanhamento do Processo</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.tramite.length > 0){ %>
                            <% var pad = bolCons.pad %>
                            <h5 class="my-1 ml-1">Trâmite</h5><h6 class="my-1 ml-1"><%=pad.trâmite[0].tipo%></h6>
                             <h5 class="my-1 ml-1">Próximo Passo</h5><h6 class="my-1 ml-1"><%=pad.trâmite[0].acao%></h6>
                             <h5 class="my-1 ml-1">Início do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.trâmite[0].inicioTramite%></h6>
                             <h5 class="my-1 ml-1">Prazo do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.trâmite[0].fimTramite%></h6>
                              <h5 class="my-1 ml-1">Informado por</h5><h6 class="my-1 ml-1"><%=pad.trâmite[0].user%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Não há trâmites registrados</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Última Observação</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.obsv.length > 0){ %>
                            <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=pad.obsv[0].obs%></h6>
                             <h5 class="my-1 ml-1">Registrada por</h5><h6 class="my-1 ml-1"><%=pad.obsv[0].user%></h6>
                             <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.obsv[0].data%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Sem observações</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row border border-warning my-3 py-3 px-3">

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Regularidade</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.regular.length > 0){ %>
                            <h5 class="my-1 ml-1">Status</h5><h6 class="my-1 ml-1"><%=pad.regular[0].sit%></h6>
                             <h5 class="my-1 ml-1">Registrada por</h5><h6 class="my-1 ml-1"><%=pad.regular[0].user%></h6>
                             <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.regular[0].data%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Processo não iniciado</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Situação do Processo</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.situacao > 0){ %>
                            <h5 class="my-1 ml-1">Situação</h5><h6 class="my-1 ml-1"><%=pad.situacao[0].tipo%></h6>
                             <h5 class="my-1 ml-1">Registrada por</h5><h6 class="my-1 ml-1"><%=pad.situacao[0].user%></h6>
                             <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.situacao[0].data%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Processo não iniciado</h5>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-5"></div>
            <button class="btn btn-md btn-primary col-1" data-toggle="modal" data-targe="#editDadosPessoais">Editar</button>
            <div class="col-2"></div>
            <div class="col-4"></div>
        </div>

    </div>

    <div class="col-1">
    </div>
</div>

<div class="row mb-3 pagamentos">
    <div class="col-1">
    </div>

    <div class="col-10 border border-dark rounded mt-3 mb-3 ml-2 px-5 py-2">
        <div class="row">
            <div class="col-4"></div>

            <button class="col-4 btn btn-md btn-secondary btn-pags collapsed" type="submit" data-toggle="collapse" data-target="#collapsePags" aria-expanded="false" aria-controls="collapsePags">
                <span><strong>Expandir Pagamentos</strong></span><b>Minimalizar Pagamentos</b>
            </button>

            <div class="col-4"></div>
        </div>
        <div class="collapse" id="collapsePags">
        
            <h3>Pagamentos</h3>
            <h5 class="my-1 ml-1"><%=bolCons.nome%> <span class="ml-5">CPF: <%=bolCons.cpf%></span> </h5>
            <table class="table table-sm table-bordered table-striped table-dark table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">Entidade Nacional</th>
                        <th scope="col">Referência</th>
                        <th scope="col">Data de Pagamento</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Entidade Local</th>
                        <th scope="col">Modalidade</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <% bolCons.pags.forEach((pag) => { %>
                        <tr>
                        <td><%=pag.programa.nome%></td>
                        <td><%=pag.programa.coordNacional[0].ies.sigla%></td>
                        <td><%=pag.dataRef.getMonth()+1%>/<%=pag.dataRef.getFullYear()%></td>
                        <td><%=pag.dataPag.getMonth()+1%>/<%=pag.dataPag.getFullYear()%></td>
                        <td><%=pag.turma%></td>
                        <td><%=pag.iesLocal.sigla%></td>
                        <td><%=pag.modalidade%></td>
                        <% let valueB = pag.valor.toLocaleString().replace(',','.')%>
                        <td>R$<%=valueB%>,00</td>
                    </tr>
                    <% }); %>
                    <tr>
                        <td class="bg-primary" colspan="2">QUANTITATIVO DE BOLSAS</td>
                        <td class="bg-primary"><strong><%=bolCons.pags.length%></strong></td>
                        <td class="table-active" colspan="2"></td>
                        <td class="bg-primary" colspan="2">VALOR TOTAL RECEBIDO</td>
                        <% let valueT = bolCons.valorBolsas.toLocaleString().replace(',','.')%>
                        <td class="bg-primary"><strong>R$<%=valueT%>,00</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-1">
    </div>
</div>
<% include partials/footer %>