<% include partials/header %>
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
        <div class="col-9 col-md-6">
            <h1>Bolsistas Atribuídos</h1>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row justify-content-start dadosPessoais border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <%var instance = allBols[0] %>
        <%var colaborador = instance.clbr[instance.clbr.length-1] %>
        <%var colaboradorNome = colaborador.nome %>
        <h4>Colaborador: <%=colaboradorNome.toUpperCase()%></h4>

        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">
             <table class="table table-sm table-bordered table-striped table-dark table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">SEI</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Análise Dados Pessoais</th>
                        <th scope="col">Análise Compromisso</th>
                        <th scope="col">Acompanhamento do Processo</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <% allBols.forEach((bol) => { %>
                    <tr>
                        <td><%=1%></td>
                        <td><%=bol.sei%></td>
                        <td><%=bol.cpf%></td>
                        <td><%=3%></td>
                        <td><%=4%></td>
                        <td><%=5%></td>
                        <td><%=6%></td>
                        <td><%=8%></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            
        </div>

    </div>

</div>

<!-- closing elements -->
<% include partials/footer %>