<% include partials/header %>
    <link rel="stylesheet" href="/showBolsista.css">
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
        <div class="col-9 col-md-6">
            <h1>Página do Bolsista</h1>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row justify-content-start dadosPessoais border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <h2>Dados Pessoais</h2>

        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">

            <div class="row mb-1">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.docFoto.length > 0){ %>
                    <% let docuFoto = bolCons.docFoto[((bolCons.docFoto).length-1)] %>
                    <footer class="mx-auto" style="text-align: right;">
                        atualizado em <%=docuFoto.data.toLocaleString()%> - <%= docuFoto.user %>
                    </footer>
                <% } %>
                </div>
            </div>

            <div class="row justify-content-start">

                <div class="col mx-auto my-auto">
                    <div class="card border-secondary my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Identificação</strong></h3>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Nome</h5><h4 class="card-text my-1 ml-1"><%=bolCons.nome%></h4>
                                </li>            
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">CPF</h5><h4 class="my-1 ml-1"><%=bolCons.cpf%></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">SEI</h5><h4 class="my-1 ml-1"><%=bolCons.sei%></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <% let pags = bolCons.pags[(bolCons.pags.length)-1] %>
                                    <% let programa = pags.programa %>
                                    <% let cNac = programa.coordNacional[(programa.coordNacional.length)-1].ies %>
                                    <h5 class="my-1 ml-1">Programa</h5><h4 class="my-1 ml-1"><%= programa.nome %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Entidade Nacional</h5><h4 class="my-1 ml-1"><%= cNac.sigla %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Entidade Local</h5><h4 class="my-1 ml-1"><%= pags.iesLocal.sigla %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                <% if((bolCons.email.length)-1 >= 0) { %>
                                    <h5 class="my-1 ml-1">E-mail</h5><h4 class="my-1 ml-1"><%=bolCons.email[bolCons.email.length-1].email%></h4>
                                <% } else { %>
                                    <h5 class="my-1 ml-1">E-mail</h5><h4 class="my-1 ml-1"> Email ainda não informado</h4>
                                <% } %>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Sexo</h5><h4 class="my-1 ml-1"><%=bolCons.sexo%></h4>
                                </li>
                            </ul>

                        </div>                 
                    </div>
                </div>

                <div class="col mx-auto my-auto">
                    <div class="row justify-content-start">

                        <div class="col mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Comprovante de Residência</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.docRes.length > 0){ %>
                                        <% let docuRes = bolCons.docRes[((bolCons.docRes).length-1)] %>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Descrição</h5><h4 class="my-1 ml-1"><%=docuRes.doc%></h4></li>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%=docuRes.obsv%></h4></li>
                                        <% if(docuRes.regular === 'Regular'){ %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                        <% } else { %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                        <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Documento de Identificação</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.docFoto.length > 0){ %>
                                        <% let docuFoto = bolCons.docFoto[((bolCons.docFoto).length-1)] %>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Descrição</h5><h4 class="my-1 ml-1"><%= docuFoto.doc %></h4></li>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%= docuFoto.obsv %></h4></li>
                                            <% if(docuFoto.regular === 'Regular'){ %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                            <% } else { %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                            <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-start mt-4">
                        <div class="col-8 mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Termo de Compromisso do Bolsista</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.termo.length > 0){ %>
                                        <% let docuTermo = bolCons.termo[((bolCons.termo).length-1)]%>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%=docuTermo.obsv%></h4></li>
                                            <% if(docuTermo.regular === 'Regular'){ %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                            <% } else { %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                            <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalDadosPessoais">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto" style="text-align: center;">
                    <%let colaborador = bolCons.clbr[((bolCons.clbr).length-1)].nome%>
                    <%let Adata = bolCons.clbr[((bolCons.clbr).length-1)].data%> 
                    <footer style="text-align: right;">Bolsista atribuído(a) para <%=colaborador%> em: <%=Adata.getDate()%>/<%=Adata.getMonth()+1%>/<%=Adata.getFullYear()%></footer>
                </div>
            </div>
        </div>

    </div>

    <div class="row analiseCompromisso border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
    
        <h2>Análise do Compromisso</h2>        
        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">

            <div class="row">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.analiseCompromisso.length > 0){ %>
                    <% let analise = bolCons.analiseCompromisso[((bolCons.analiseCompromisso).length-1)] %>
                    <footer class="mx-auto" style="text-align: right;">
                        atualizado em <%=analise.data.toLocaleString()%> - <%= analise.user %>
                    </footer>
                <% } %>
                </div>
            </div>

            <div class="row justify-content-start">
                <div class="col-4 mx-auto my-auto">
                    <div class="card border-secondary my-4 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Situação do Curso</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.statusCurso.length > 0){ %>
                                <% let curso = bolCons.statusCurso[((bolCons.statusCurso).length-1)]%>
                                <ul class="list-group list-group-flush">
                                <% if(curso.status == 'Concluído'){ %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Status do Curso</h5><h4 class="my-1 ml-1" style="color: darkgreen;"><strong><%=curso.status%></strong></h4></li>
                                <% } else if(curso.status == 'Abandonou o Curso'){ %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Status do Curso</h5><h4 class="my-1 ml-1" style="color: darkred;"><strong><%=curso.status%></strong></h4></li>
                                <% } else { %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Status do Curso</h5><h4 class="my-1 ml-1" style="color: darkorange;"><strong><%=curso.status%></strong></h4></li>
                                <% } %>
                                <% var ShowMonth = curso.data.getMonth() %>
                                <% var showYear = curso.data.getFullYear(); %>
                                <% if(ShowMonth != 11){ %>
                                    <% ShowMonth = ShowMonth+2; %>
                                    <% if(ShowMonth <= 9){ %>
                                        <% ShowMonth = '0'+ ShowMonth; %>
                                        <li class="list-group-item border-success"><h5 class="my-1 ml-1">Data Status do Curso</h5><h4 class="my-1 ml-1"><%=ShowMonth%>/<%=showYear%></h4></li>
                                    <% } else { %>
                                        <% var date = showYear+'-'+ShowMonth%>
                                        <li class="list-group-item border-success"><h5 class="my-1 ml-1">Data Status do Curso</h5><h4 class="my-1 ml-1"><%=ShowMonth%>/<%=showYear%></h4></li>
                                    <% } %>
                                <% } else { %>
                                    <% ShowMonth = '01' %>
                                    <% showYear = showYear+1; %>
                                    <% var date = showYear+'-'+ShowMonth%>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Data Status do Curso</h5><h4 class="my-1 ml-1"><%=ShowMonth%>/<%=showYear%></h4></li>
                                <% } %>
                                </ul>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                            <div>
                                <footer style="text-align: center; color: red;">Em caso de reingresso, a data do status do curso reflete a previsão de término do curso.</footer>
                            </div>
                        </div>
                    </div>

                    <div class="card border-secondary my-4 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Certificado de Conclusão</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.certConclusao.length > 0){ %>
                                <% let certificado = bolCons.certConclusao[((bolCons.certConclusao).length-1)]%>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Instituição de Ensino</h5><h4 class="my-1 ml-1"><%=certificado.ies.sigla%></h4></li>
                                <% if(certificado.obsv == 'Sem Observações'){ %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkgreen;"><strong><%=certificado.obsv%></strong></h4></li>
                                <% } else if(certificado.obsv == 'Ausente'){ %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkred;"><strong><%=certificado.obsv%></strong></h4></li>
                                <% } else { %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkorange;"><strong><%=certificado.obsv%></strong></h4></li>
                                <% }%>
                                <% if(certificado.regular === 'Regular'){ %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong><%=certificado.regular%></strong></h4></li>
                                <% } else { %>
                                    <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong><%=certificado.regular%></strong></h4></li>
                                <% } %>
                                </ul>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col my-auto">
                    <% if(bolCons.declaracao.length > 0){ %>
                    <div class="card border-secondary my-3 py-.25 pl-.5">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h5><strong>Declarações de Permanência</strong></h5>
                            </div>
                            <div class="row my-2">
                                <div class="col"><div></div></div>         
                                <div class="col-2 addButton">
                                    <button type="button" id="addButtonDeclara" class="btn mt-1 btn-success btn-sm btn-block active" data-toggle="modal" data-target="#modalDeclaracao"><strong> + </strong></button>
                                </div>
                            </div>
                            <table class="table table-sm table-bordered table-hover table-active" id="tableDeclara">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">UF</th>
                                        <th scope="col">Município</th>
                                        <th scope="col">Permanência(meses)</th>
                                        <th scope="col">Regularidade</th>
                                        <th scope="col">Observação</th>
                                        <th scope="col" colspan="2">Ações</th>
                                    </tr>
                                </thead>
                                <% let declars = bolCons.declaracao %>
                                <tbody>
                                <% declars.forEach(declaracao => { %>
                                    <tr>
                                        <form action='/deletedeclaracao/<%=bolCons.cpf%>/<%=declaracao._id%>?_method=DELETE' method="POST">
                                            <td><%=declaracao.municipioEscola.uf%></td>
                                            <td><%=declaracao.municipioEscola.nome%></td>
                                            <td><%=declaracao.permanencia%></td>
                                            <%if(declaracao.regular == 'Regular'){ %>
                                                <td style="color: darkgreen;"><strong><%=declaracao.regular%></strong></td>
                                            <%} else{ %>
                                                <td style="color: darkred;"><strong><%=declaracao.regular%></strong></td>
                                            <% } %>
                                            <td><%=declaracao.obsv%></td>
                                            <td><button type="button" id='<%=declaracao._id%>' class="btn btn-primary btn-sm btn-block active" data-toggle="modal" data-target="#modalEditDeclaracao">Editar</button></td>
                                            <td><input type="submit" value="Excluir" class="btn btn-danger btn-sm btn-block active"></input></td>
                                        </form>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="4" class="mx-auto" style="color: lightslategrey; text-align: right;">atualizado em <%=declaracao.data.toLocaleString()%> - <%= declaracao.user %></td>
                                    </tr>
                                <% }); %>
                                    <tr>
                                        <td class="table-info" colspan="2"><strong>Permanência Total</strong></td>
                                        <td class="table-info"><strong><%=bolCons.permanenciaTotal%></strong></td>
                                        <td class="table-light" colspan="4"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } else{ %>
                    <div class="card border-secondary my-3 py-.25 pl-.5">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h5><strong>Declarações de Permanência</strong></h5>
                            </div>
                            <div class="row">
                                <div class="col"><div></div></div>         
                                <div class="col-2 addButton">
                                    <button type="button" id="addButtonDeclara" class="btn mt-1 btn-success btn-sm btn-block active" data-toggle="modal" data-target="#modalDeclaracao"><strong> Iniciar Declaração </strong></button>
                                </div>
                            </div>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <div class="row justify-content-start mt-4">
                        <div class="col-6 mx-auto my-auto">

                            <div class="card border-secondary my-3 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Resultado da Análise</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.analiseCompromisso.length > 0){ %>
                                        <% let compromisso = bolCons.analiseCompromisso[((bolCons.analiseCompromisso).length-1)] %>
                                        <ul class="list-group list-group-flush">
                                        <% if(compromisso.obsv == 'Sem Observações'){ %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkgreen;"><strong><%=compromisso.obsv%></strong></h4></li>
                                        <% } else if(compromisso.obsv == 'Ausente'){ %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkred;"><strong><%=compromisso.obsv%></strong></h4></li>
                                        <% } else { %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1" style="color: darkorange;"><strong><%=compromisso.obsv%></strong></h4></li>
                                        <% }%>
                                        <% if(compromisso.regular === 'Regular'){ %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong><%=compromisso.regular%></strong></h4></li>
                                        <% } else { %>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong><%=compromisso.regular%></strong></h4></li>
                                        <% } %>
                                        </ul>
                                    <% } else{ %>
                                            <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" id="btnEditCompromisso" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalCompromisso">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto"></div>
            </div>
        </div>

    </div>

    <div class="row acompanhamentoProcesso border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
    
        <h2>Acompanhamento do Processo</h2>        
        <div class="container-fluid border border-warning rounded mb-2 py-2">

            <div class="row">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.pad.length > 0){ %>
                    <% let regPad = bolCons.pad[((bolCons.pad).length-1)] %>
                    <footer class="mx-auto" style="text-align: right;">
                        atualizado em <%=regPad.data.toLocaleString()%> - <%= regPad.user %>
                    </footer>
                <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Acompanhamento do Processo</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <% var pad = bolCons.pad %>
                                <h5 class="my-1 ml-1">Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.tipo%></h6>
                                <h5 class="my-1 ml-1">Próximo Passo</h5><h6 class="my-1 ml-1"><%=pad.tramite.acao%></h6>
                                <h5 class="my-1 ml-1">Início do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.inicioTramite.toLocaleString()%></h6>
                                <h5 class="my-1 ml-1">Prazo do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.fimTramite.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Não há trâmites registrados</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Última Observação</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=pad.obsv.obs%></h6>
                                <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.obsv.data.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Sem observações</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Regularidade</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <h5 class="my-1 ml-1">Status</h5><h6 class="my-1 ml-1"><%=pad.regular.sit%></h6>
                                <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.regular.data.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Processo não iniciado</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Situação do Processo</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.situacao > 0){ %>
                            <h5 class="my-1 ml-1">Situação</h5><h6 class="my-1 ml-1"><%=pad.situacao.tipo%></h6>
                             <h5 class="my-1 ml-1">Registrada por</h5><h6 class="my-1 ml-1"><%=pad.situacao.user%></h6>
                             <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.situacao.data%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Processo não iniciado</h5>
                        <% } %>
                        </div>
                    </div>
                </div>

                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalCompromisso">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto"></div>
            </div>
        </div>

    </div>

    <div class="row pagamentos border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <div class="container-fluid buttonPags mb-2 py-2">
            <div class="row">
            <div class="col-4"></div>
            <button class="col-4 btn btn-md btn-secondary btn-pags collapsed" type="submit" data-toggle="collapse" data-target="#collapsePags" aria-expanded="false" aria-controls="collapsePags">
                <span><strong>Expandir Pagamentos</strong></span><b>Minimalizar Pagamentos</b>
            </button>
            <div class="col-4"></div>
            </div>
        </div>

        <div class="container-fluid collapse" id="collapsePags">
            <h2>Pagamentos</h2>

            <h5 class="my-1 ml-1"><%=bolCons.nome%> <span class="ml-5">CPF: <%=bolCons.cpf%></span> </h5>
            <table class="table table-sm table-bordered table-striped table-dark table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">Entidade Nacional</th>
                        <th scope="col">Referência</th>
                        <th scope="col">Data de Pagamento</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Entidade Local</th>
                        <th scope="col">Modalidade</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Sistema</th>
                    </tr>
                </thead>
                <tbody>
                    <% bolCons.pags.forEach((pag) => { %>
                        <tr>
                        <td><%=pag.programa.nome%></td>
                        <td><%=pag.programa.coordNacional[0].ies.sigla%></td>
                        <td><%=pag.dataRef.getMonth()+1%>/<%=pag.dataRef.getFullYear()%></td>
                        <td><%=pag.dataPag.getMonth()+1%>/<%=pag.dataPag.getFullYear()%></td>
                        <td><%=pag.turma%></td>
                        <td><%=pag.iesLocal.sigla%></td>
                        <td><%=pag.modalidade%></td>
                        <% let valueB = pag.valor.toLocaleString().replace(',','.')%>
                        <td>R$<%=valueB%>,00</td>
                        <td><%=pag.sistema%></td>
                    </tr>
                    <% }); %>
                    <tr>
                        <td class="bg-primary" colspan="2">QUANTITATIVO DE BOLSAS</td>
                        <td class="bg-primary"><strong><%=bolCons.pags.length%></strong></td>
                        <td class="table-active" colspan="2"></td>
                        <td class="bg-primary" colspan="2">VALOR TOTAL RECEBIDO</td>
                        <% let valueT = bolCons.valorBolsas.toLocaleString().replace(',','.')%>
                        <td class="bg-primary" colspan="2"><strong>R$<%=valueT%>,00</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

 <!-- MODALS -->

<% include modalDadosPessoais %>

<% include modalCompromisso %>

<% include modalDeclaracao %>

<% include modalEditDeclara %>

<script>
    //Modal Dados Pessoais
    var regSelect = function(reg, obsv, optClass){
        let lenObsv = (obsv.length)-1;
        let obsvList = [];

        for(var i = 0; i<= lenObsv; i++){
            obsvList.push(obsv.options.item(i).text)
        }

        reg.addEventListener('input', () => {
            if(reg.options.item(reg.selectedIndex).text == 'Regular'){
                $(obsv).find(`.${optClass}`).remove().end();
                obsvList.forEach(obs =>{
                    if(obs == 'Sem Observações'){
                        let optObsSelected = `<option class=${optClass} selected>${obs}</option>`;
                        obsv.insertAdjacentHTML('beforeend', optObsSelected);
                    } else{
                        let optObs = `<option class=${optClass}> ${obs} </option>`;
                        obsv.insertAdjacentHTML('beforeend', optObs)
                    }
                });
            }
        });
    }
        
        //Documento Identificação
    var regDocIde = document.getElementById('bolsista[regDocFoto]');
    var obsvDocIde = document.getElementById('bolsista[obsvDocFoto]');
    var optClassIde = 'optObsvDocIde';
    regSelect(regDocIde, obsvDocIde, optClassIde);

        //Documento Residência
    var regDocRes = document.getElementById('bolsista[regDocRes]');
    var obsvDocRes = document.getElementById('bolsista[obsvDocRes]');
    var optClassRes = 'optObsvDocRes';
    regSelect(regDocRes, obsvDocRes, optClassRes);

        //Termo de Compromisso
    var regTermo = document.getElementById('bolsista[regTermo]');
    var obsvTermo = document.getElementById('bolsista[obsvTermo]');
    var optClassTermo = 'optObsvDocTermo';
    regSelect(regTermo, obsvTermo, optClassTermo);

    //Modal Compromisso
    var iesUfSelect = document.getElementById('bolsista[ufCert]');
    var noDisplayIes = document.getElementById('noDisplayIes')
    var iesSelect = document.getElementById('bolsista[iesCert]');

    iesUfSelect.addEventListener('input', () => {
        //clear the select box
        $(iesSelect).find('option').remove().end();

        let selecioneOpt = `<option value=''>Selecione</option>`
        iesSelect.insertAdjacentHTML("beforeend", selecioneOpt);
        let ufValue = iesUfSelect.options.item(iesUfSelect.selectedIndex).value;
        let lenIes = (noDisplayIes.length)-1;

        for(var i = 0; i <= lenIes; i++){
            if(ufValue == noDisplayIes.options.item(i).value){
                let opt = `<option>${noDisplayIes.options.item(i).text}</option>`
                iesSelect.insertAdjacentHTML("beforeend", opt);
            } 
        }
    });
        
        //Certificado de Conclusão
    var regCert = document.getElementById('bolsista[regCert]');
    var obsvCert = document.getElementById('bolsista[obsvCert]');
    var optClassCert = 'optObsvDocCert';
    regSelect(regCert, obsvCert, optClassCert);
    
        //Resultado Análise
    var resAna = document.getElementById('bolsista[resAna]');
    var obsvAna = document.getElementById('bolsista[obsvAna]');
    var optClassAna = 'optClassAna';
    regSelect(resAna, obsvAna, optClassAna);

    //Municipios Selector (Modal Declaração)
    var munUfSelect = document.getElementById('bolsista[ufDecl]');
    var noDisplayMun = document.getElementById('noDisplayMun');
    var munSelect = document.getElementById('bolsista[munDecl]');

    munUfSelect.addEventListener('input', () => {
        //clear the select box
        $(munSelect).find('option').remove().end();

        let selecioneOpt = `<option value=''>Selecione</option>`;
        munSelect.insertAdjacentHTML("beforeend", selecioneOpt);
        let ufValue = munUfSelect.options.item(munUfSelect.selectedIndex).value;
        let lenMun = (noDisplayMun.length)-1;

        for(var i = 0; i <= lenMun; i++){
            if(ufValue == noDisplayMun.options.item(i).value){
                let opt = `<option>${noDisplayMun.options.item(i).text}</option>`
                munSelect.insertAdjacentHTML("beforeend", opt);
            } 
        }
    });

     //Modal Edit Declaração
    var editTable = document.getElementById('tableDeclara');
    var formEditDeclara = document.getElementById('formEditDeclara');
    var declaraList = document.getElementById('declaraList');
    var declaracoes = declaraList.getElementsByTagName("li");
    var editMunUfSelect = document.getElementById('bolsista[EditUfDecl]');
    var editMunSelect = document.getElementById('bolsista[editMunDecl]');
    var editPerm = document.getElementById('bolsista[editPerm]');
    var editRegDecl = document.getElementById('bolsista[editRegDecl]');
    var editObsvDecl = document.getElementById('bolsista[editObsvDecl]');

    editTable.addEventListener('click', (e) => {
        //clear the modal
        $(formEditDeclara).find('.begone').remove().end();

        // e.target is the clicked element!
        if(e.target && e.target.nodeName == 'BUTTON'){
            var declaraId = e.target.id;

            let declaraIdHiddenInput = `<input class="begone" type="hidden" name='bolsista[declaId]' value=${declaraId}>`;
            formEditDeclara.insertAdjacentHTML("beforeend", declaraIdHiddenInput);

            for (var i = 0; i < declaracoes.length; ++i) {
                declara = declaracoes[i].getAttribute('data-value');
                declara = JSON.parse(declara);
                if(declara._id == declaraId){
                    let lenMun = (editMunUfSelect.length)-1;
                    for(var i = 0; i <= lenMun; i++){
                        if(editMunUfSelect.options.item(i).value == declara.municipioEscola.uf){
                            editMunUfSelect.selectedIndex = i;
                        } 
                    }
                    let munOpt = `<option class="begone">${declara.municipioEscola.nome}</option>`;
                    editMunSelect.insertAdjacentHTML('beforeend', munOpt);
                    let lenPerm = (editPerm.length)-1;
                    for(var i = 0; i <= lenPerm; i++){
                        if(editPerm.options.item(i).value == declara.permanencia){
                            editPerm.selectedIndex = i;
                        } 
                    }
                    let lenRegDecl = (editRegDecl.length)-1;
                    for(var i = 0; i <= lenRegDecl; i++){
                        if(editRegDecl.options.item(i).value == declara.regular){
                            editRegDecl.selectedIndex = i;
                        } 
                    }
                    let lenObsv = (editObsvDecl.length)-1;
                    for(var i = 0; i <= lenObsv; i++){
                        if(editObsvDecl.options.item(i).value == declara.obsv){
                            editObsvDecl.selectedIndex = i;
                        } 
                    }
                }      
            }
        }
    });

    editMunUfSelect.addEventListener('input', () => {
        //clear the select box
        $(editMunSelect).find('option').remove().end();

        let selecioneOpt = `<option class="begone" value=''>Selecione</option>`;
        editMunSelect.insertAdjacentHTML("beforeend", selecioneOpt);
        let ufValue = editMunUfSelect.options.item(editMunUfSelect.selectedIndex).value;
        let lenMun = (noDisplayMun.length)-1;

        for(var i = 0; i <= lenMun; i++){
            if(ufValue == noDisplayMun.options.item(i).value){
                let opt = `<option class="begone">${noDisplayMun.options.item(i).text}</option>`
                editMunSelect.insertAdjacentHTML("beforeend", opt);
            }
        }
    });

</script>
<!-- closing elements -->
<% include partials/footer %>