<% include partials/header %>
    <link rel="stylesheet" href="/showBolsista.css">
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
        <div class="col-9 col-md-6">
            <h1>Consulta Bolsista</h1>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row justify-content-start dadosPessoais border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <h2>Dados Pessoais</h2>

        <div class="container-fluid border border-warning rounded mb-2 py-2" id="datawrap">

            <div class="row mb-1">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.docFoto.length > 0){ %>
                    <% let docuFoto = bolCons.docFoto[((bolCons.docFoto).length-1)] %>
                    <footer class="mx-auto">
                        Última atualização <%=docuFoto.data.toLocaleString()%> por <%= docuFoto.user %>
                    </footer>
                <% } else { %>
                    <footer class="mx-auto">Aguardando informações</footer>
                <% } %>
                </div>
            </div>

            <div class="row justify-content-start">

                <div class="col mx-auto my-auto">
                    <div class="card border-secondary my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Identificação</strong></h3>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Nome</h5><h4 class="card-text my-1 ml-1"><%=bolCons.nome%></h4>
                                </li>            
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">CPF</h5><h4 class="my-1 ml-1"><%=bolCons.cpf%></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">SEI</h5><h4 class="my-1 ml-1"><%=bolCons.sei%></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <% let pags = bolCons.pags[(bolCons.pags.length)-1] %>
                                    <% let programa = pags.programa %>
                                    <% let cNac = programa.coordNacional[(programa.coordNacional.length)-1].ies %>
                                    <h5 class="my-1 ml-1">Programa</h5><h4 class="my-1 ml-1"><%= programa.nome %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Entidade Nacional</h5><h4 class="my-1 ml-1"><%= cNac.sigla %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Entidade Local</h5><h4 class="my-1 ml-1"><%= pags.iesLocal.sigla %></h4>
                                </li>
                                <li class="list-group-item border-success">
                                <% if((bolCons.email.length)-1 > 0) { %>
                                    <h5 class="my-1 ml-1">E-mail</h5><h4 class="my-1 ml-1"><%=bolCons.email[(bolCons.email.length)-1].email%></h4>
                                <% } else { %>
                                    <h5 class="my-1 ml-1">E-mail</h5><h4 class="my-1 ml-1"> Email ainda não informado</h4>
                                <% } %>
                                </li>
                                <li class="list-group-item border-success">
                                    <h5 class="my-1 ml-1">Sexo</h5><h4 class="my-1 ml-1"><%=bolCons.sexo%></h4>
                                </li>
                            </ul>

                        </div>                 
                    </div>
                </div>

                <div class="col mx-auto my-auto">
                    <div class="row justify-content-start">

                        <div class="col mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Comprovante de Residência</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.docRes.length > 0){ %>
                                        <% let docuRes = bolCons.docRes[((bolCons.docRes).length-1)] %>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Descrição</h5><h4 class="my-1 ml-1"><%=docuRes.doc%></h4></li>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%=docuRes.obsv%></h4></li>
                                            <% if(docuRes.regular === 'Regular'){ %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                            <% } else { %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                            <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Documento Com Foto</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.docFoto.length > 0){ %>
                                        <% let docuFoto = bolCons.docFoto[((bolCons.docFoto).length-1)] %>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Descrição</h5><h4 class="my-1 ml-1"><%= docuFoto.doc %></h4></li>
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%= docuFoto.obsv %></h4></li>
                                            <% if(docuFoto.regular === 'Regular'){ %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                            <% } else { %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                            <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-start mt-4">
                        <div class="col-8 mx-auto my-auto">
                            <div class="card border-secondary my-1 py-.25 pl-.5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><strong>Termo de Compromisso do Bolsista</strong></h5>
                                    <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                                    <% if(bolCons.termo.length > 0){ %>
                                        <% let docuTermo = bolCons.termo[((bolCons.termo).length-1)]%>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-success"><h5 class="my-1 ml-1">Observação</h5><h4 class="my-1 ml-1"><%=docuTermo.obsv%></h4></li>
                                            <% if(docuTermo.regular === 'Regular'){ %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color:darkgreen"><strong>Regular</strong></h4></li>
                                            <% } else { %>
                                                <li class="list-group-item border-success"><h5 class="my-1 ml-1">Regularidade</h5><h4 class="my-1 ml-1" style="color: darkred"><strong>Irregular</strong></h4></li>
                                            <% } %>
                                        </ul>
                                    <% } else{ %>
                                        <h5 class="my-1 ml-1">Pendente de análise</h5>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalDadosPessoais">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto" style="text-align: center;">
                    <%let colaborador = bolCons.clbr[((bolCons.clbr).length-1)].nome%>
                    <%let Adata = bolCons.clbr[((bolCons.clbr).length-1)].data%> 
                    <footer>Bolsista atribuído(a) para <%=colaborador%> em: <%=Adata.getDate()%>/<%=Adata.getMonth()+1%>/<%=Adata.getFullYear()%></footer>
                </div>
            </div>
        </div>

    </div>

    <div class="row analiseCompromisso border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
    
        <h2>Análise do Compromisso</h2>        
        <div class="container-fluid border border-warning rounded mb-2 py-2">

            <div class="row">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.analiseCompromisso.length > 0){ %>
                    <% let analise = bolCons.analiseCompromisso[((bolCons.analiseCompromisso).length-1)] %>
                    <footer class="mx-auto">
                        Última atualização <%=analise.data.toLocaleString()%> por <%= analise.user %>
                    </footer>
                <% } else { %>
                    <footer class="mx-auto">Aguardando informações</footer>
                <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Situação do Curso</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.statusCurso.length > 0){ %>
                                <% let curso = bolCons.statusCurso[((bolCons.statusCurso).length-1)]%>
                                <h5 class="my-1 ml-1">Situação do Curso</h5><h6 class="my-1 ml-1"><%=curso.status.sit%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Certificado de Conclusão</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.certConclusao.length > 0){ %>
                                <% let certificado = bolCons.certConclusao[((bolCons.certConclusao).length-1)]%>
                                <h5 class="my-1 ml-1">Instituição de Ensino</h5><h6 class="my-1 ml-1"><%=certificado.ies.sigla%></h6>
                                <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=certificado.motivo.tipo%></h6>
                                <h5 class="my-1 ml-1">Data do Observação</h5><h6 class="my-1 ml-1"><%=certificado.motivo.data.toLocaleString()%></h6>
                                <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=certificado.regular.sit%></h6>
                                <h5 class="my-1 ml-1">Data da Regularidade</h5><h6 class="my-1 ml-1"><%=certificado.regular.data.toLocaleString()%></h6>
                                <footer class="mx-auto">Informações por <%=certificado.user%></footer>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Declaração de Permanência</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.declaracao.length > 0){ %>
                                <% let declaracao = bolCons.declaracao[((bolCons.declaracao).length-1)]%>
                                <h5 class="my-1 ml-1">Município da Escola</h5><h6 class="my-1 ml-1"><%=declaracao.escola.municipio%></h6>
                                <h5 class="my-1 ml-1">Permanência</h5><h6 class="my-1 ml-1"><%=declaracao.permanencia%></h6>
                                <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=declaracao.motivo.tipo%></h6>
                                <h5 class="my-1 ml-1">Data da Observação</h5><h6 class="my-1 ml-1"><%=declaracao.motivo.data.toLocaleString()%></h6>
                                <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=declaracao.regular.sit%></h6>
                                <h5 class="my-1 ml-1">Data Regularidade</h5><h6 class="my-1 ml-1"><%=declaracao.regular.data.toLocaleString()%></h6>
                                <footer class="mx-auto">Informações por <%=declaracao.user%></footer>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Resultado da Análise</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.analiseCompromisso.length > 0){ %>
                                <% let compromisso = bolCons.analiseCompromisso %>
                                <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=compromisso.motivo.tipo%></h6>
                                <h5 class="my-1 ml-1">Data do Observação</h5><h6 class="my-1 ml-1"><%=compromisso.motivo.data.toLocaleString()%></h6>
                                <h5 class="my-1 ml-1">Regularidade</h5><h6 class="my-1 ml-1"><%=compromisso.regular.sit%></h6>
                                <h5 class="my-1 ml-1">Data da Regularidade</h5><h6 class="my-1 ml-1"><%=compromisso.regular.data.toLocaleString()%></h6>
                                <footer class="mx-auto">Informações por <%=compromisso.user%></footer>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Pendente de análise</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" id="btnEditCompromisso" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalCompromisso">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto"></div>
            </div>
        </div>

    </div>

    <div class="row acompanhamentoProcesso border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
    
        <h2>Acompanhamento do Processo</h2>        
        <div class="container-fluid border border-warning rounded mb-2 py-2">

             
            <div class="row">
                <div class="col-4"><div></div></div>
                <div class="col-5"><div></div></div>             
                <div class="col-3 usuario">
                <% if(bolCons.pad.length > 0){ %>
                    <% let regPad = bolCons.pad[((bolCons.pad).length-1)] %>
                    <footer class="mx-auto">
                        Última atualização <%=regPad.data.toLocaleString()%> por <%= regPad.user %>
                    </footer>
                <% } else { %>
                    <footer class="mx-auto">Aguardando informações</footer>
                <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Acompanhamento do Processo</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <% var pad = bolCons.pad %>
                                <h5 class="my-1 ml-1">Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.tipo%></h6>
                                <h5 class="my-1 ml-1">Próximo Passo</h5><h6 class="my-1 ml-1"><%=pad.tramite.acao%></h6>
                                <h5 class="my-1 ml-1">Início do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.inicioTramite.toLocaleString()%></h6>
                                <h5 class="my-1 ml-1">Prazo do Trâmite</h5><h6 class="my-1 ml-1"><%=pad.tramite.fimTramite.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Não há trâmites registrados</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Última Observação</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <h5 class="my-1 ml-1">Observação</h5><h6 class="my-1 ml-1"><%=pad.obsv.obs%></h6>
                                <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.obsv.data.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Sem observações</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col my-auto">

                    <div class="card my-1 py-.25 pl-.5">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Regularidade</strong></h5>
                            <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                            <% if(bolCons.pad.length > 0){ %>
                                <h5 class="my-1 ml-1">Status</h5><h6 class="my-1 ml-1"><%=pad.regular.sit%></h6>
                                <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.regular.data.toLocaleString()%></h6>
                            <% } else{ %>
                                <h5 class="my-1 ml-1">Processo não iniciado</h5>
                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 py-.25 pl-.5">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Situação do Processo</strong></h5>
                        <div class="border border-success rounded-bottom my-3 py-.5 mx-3">
                        <% if(bolCons.pad.situacao > 0){ %>
                            <h5 class="my-1 ml-1">Situação</h5><h6 class="my-1 ml-1"><%=pad.situacao.tipo%></h6>
                             <h5 class="my-1 ml-1">Registrada por</h5><h6 class="my-1 ml-1"><%=pad.situacao.user%></h6>
                             <h5 class="my-1 ml-1">Data do Registro</h5><h6 class="my-1 ml-1"><%=pad.situacao.data%></h6>
                        <% } else{ %>
                            <h5 class="my-1 ml-1">Processo não iniciado</h5>
                        <% } %>
                        </div>
                    </div>
                </div>

                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-md btn-block active" data-toggle="modal" data-target="#modalCompromisso">Editar</button>
                </div>
                <div class="col-3 mx-auto my-auto"></div>
                <div class="col-3 mx-auto my-auto"></div>
            </div>
        </div>

    </div>

    <div class="row pagamentos border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">

        <div class="container-fluid buttonPags mb-2 py-2">
            <div class="row">
            <div class="col-4"></div>
            <button class="col-4 btn btn-md btn-secondary btn-pags collapsed" type="submit" data-toggle="collapse" data-target="#collapsePags" aria-expanded="false" aria-controls="collapsePags">
                <span><strong>Expandir Pagamentos</strong></span><b>Minimalizar Pagamentos</b>
            </button>
            <div class="col-4"></div>
            </div>
        </div>

        <div class="container-fluid collapse" id="collapsePags">
            <h2>Pagamentos</h2>

            <h5 class="my-1 ml-1"><%=bolCons.nome%> <span class="ml-5">CPF: <%=bolCons.cpf%></span> </h5>
            <table class="table table-sm table-bordered table-striped table-dark table-hover" style="height: 100px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">Entidade Nacional</th>
                        <th scope="col">Referência</th>
                        <th scope="col">Data de Pagamento</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Entidade Local</th>
                        <th scope="col">Modalidade</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Sistema</th>
                    </tr>
                </thead>
                <tbody>
                    <% bolCons.pags.forEach((pag) => { %>
                        <tr>
                        <td><%=pag.programa.nome%></td>
                        <td><%=pag.programa.coordNacional[0].ies.sigla%></td>
                        <td><%=pag.dataRef.getMonth()+1%>/<%=pag.dataRef.getFullYear()%></td>
                        <td><%=pag.dataPag.getMonth()+1%>/<%=pag.dataPag.getFullYear()%></td>
                        <td><%=pag.turma%></td>
                        <td><%=pag.iesLocal.sigla%></td>
                        <td><%=pag.modalidade%></td>
                        <% let valueB = pag.valor.toLocaleString().replace(',','.')%>
                        <td>R$<%=valueB%>,00</td>
                        <td><%=pag.sistema%></td>
                    </tr>
                    <% }); %>
                    <tr>
                        <td class="bg-primary" colspan="2">QUANTITATIVO DE BOLSAS</td>
                        <td class="bg-primary"><strong><%=bolCons.pags.length%></strong></td>
                        <td class="table-active" colspan="2"></td>
                        <td class="bg-primary" colspan="2">VALOR TOTAL RECEBIDO</td>
                        <% let valueT = bolCons.valorBolsas.toLocaleString().replace(',','.')%>
                        <td class="bg-primary" colspan="2"><strong>R$<%=valueT%>,00</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

 <!-- MODALS -->

<% include modalDadosPessoais %>

<% include modalCompromisso %>

<script>

    var ufSelect = document.getElementById('bolsista[ufCert]');
    var munSelect = document.getElementById('bolsista[munCert]')

    ufSelect.addEventListener('input', () => {
        munSelect.selectedIndex = 0;
        let ufValue = ufSelect.options.item(ufSelect.selectedIndex).value;
        let lenMun = (munSelect.length)-1;

        for(var i = 0; i <= lenMun; i++){
            if(ufValue == munSelect.options.item(i).value.slice(0,2)){
                munSelect.options.item(i).style.display = "inline";
                console.log(munSelect.options.item(i).text);
            } else {
                munSelect.options.item(i).style.display = "none";
            }
        }
    });

</script>
<!-- closing elements -->
<% include partials/footer %>