<% include partials/header %>
    <link rel="stylesheet" href="/landingStyle.css"> 
<% include partials/headerBottom %>

<div class="container-fluid">

    <div class="row title">
        <div class="col-md-3"></div>
       <div class="col-6 col-md-6">
           <h1>Resultados Por Instituição de Ensino</h1>
       </div>
       <div class="col-md-3"></div>
   </div>

   <div class="row justify-content-start border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
       <h4 class="mb-2 mt-1 mx-auto">Parâmetros do Relatório</h4>
       <table class="table table-sm table-bordered table-striped table-light table-hover mt-1 mb-0" style="height: 100px;">
           <thead class="thead-light">
               <tr>
                   <th class='align-middle mx-auto' style="text-align: center;" scope="col">Término do Curso</th>
                   <th class='align-middle mx-auto' style="text-align: center; width: 14%" scope="col">Permanência</th>
                   <th class='align-middle mx-auto' style="text-align: center;" scope="col">Regularidade Termo Compromisso.</th>
                   <th class='align-middle mx-auto' style="text-align: center;" scope="col">Regularidade da Análise</th>
                   <th class='align-middle mx-auto' style="text-align: center; width: 14%" scope="col">Observação Adicional</th>
               </tr>
           </thead>
           <tbody>
               <%var statusCursoGreen = ['Concluído', 'Concluído (Após Prazo Regular)']; %>
               <%var statusCursoOrange = ['Pendente de Informação', 'Cursando (Reingresso)']; %>
               <%var permanenciaGreen = ['Ao menos 60 meses']; %>
               <%var permanenciaOrange = ['Menos que 60 meses']; %>
               <tr>
               <% if(statusCursoGreen.indexOf(paramRes.terminoCurso) > -1){ %>
                   <td style="color: darkgreen; text-align: center"><strong><%=paramRes.terminoCurso%></strong></td>
               <%} else if(statusCursoOrange.indexOf(paramRes.terminoCurso) > -1){%>
                   <td style="color:#FF7733; text-align: center"><strong><%=paramRes.terminoCurso%></strong></td>
               <%} else {%>
                   <td style="color:darkred; text-align: center"><strong><%=paramRes.terminoCurso%></strong></td>
               <%}%>
               <% if(permanenciaGreen.indexOf(paramRes.permanencia) > -1){ %>
                   <td style="color: darkgreen; text-align: center"><strong><%=paramRes.permanencia%></strong></td>
               <%} else if(permanenciaOrange.indexOf(paramRes.permanencia) > -1) {%>
                   <td style="color:#FF7733; text-align: center"><strong><%=paramRes.permanencia%></strong></td>
               <%} else { %>
                   <td style="color:darkred; text-align: center"><strong><%=paramRes.permanencia%></strong></td>
               <%}%>
               <% if(paramRes.regTermo == 'Regular'){ %>
                   <td style="color: darkgreen; text-align: center"><strong>Regular</strong></td>
               <%} else {%>
                   <td style="color:darkred; text-align: center"><strong><%=paramRes.regTermo%></strong></td>
               <%}%>
               <% if(paramRes.regAnal == 'Regular'){ %>
                   <td style="color: darkgreen; text-align: center"><strong>Regular</strong></td>
               <%} else {%>
                   <td style="color:darkred; text-align: center"><strong><%=paramRes.regAnal%></strong></td>
               <%}%>
               <% if(paramRes.obsvAnal == 'Sem Observações'){ %>
                   <td style="color: darkgreen; text-align: center"><strong>Sem Observações</strong></td>
               <%} else {%>
                   <td style="color:darkorange; text-align: center"><strong><%=paramRes.obsvAnal%></strong></td>
               <%}%>
               </tr>
           </tbody>
       </table>
   </div>

   <div class="container">
       <div class="row justify-content-center border border-dark rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
            <div class="row justify-content-center border border-warning rounded mt-2 mb-3 mr-2 ml-2 px-5 py-2">
                <table class="table table-sm table-bordered table-striped table-light table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class='align-middle mx-auto sticky-top' style="text-align: center; width:5%" scope="col"></th>
                            <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 18%;" scope="col">Sigla da IES</th>
                            <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 70%" scope="col">Nome da IES</th>
                            <th class='align-middle mx-auto sticky-top' style="text-align: center; width: 7%" scope="col">Qtde Bolsistas</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var number = 0 %>
                    <% dados.forEach((item) => { %>
                        <% number = number+1; %>
                        <tr>
                            <form action="/resultadossitbolsies/<%=item.iesSigla%>" method="POST" class="formulario">
                                <input type="hidden" name="paramRes[terminoCurso]" value="<%=paramRes.terminoCurso%>">
                                <input type="hidden" name="paramRes[permanencia]" value="<%=paramRes.permanencia%>">
                                <input type="hidden" name="paramRes[regTermo]" value="<%=paramRes.regTermo%>">
                                <input type="hidden" name="paramRes[regAnal]" value="<%=paramRes.regAnal%>">
                                <input type="hidden" name="paramRes[obsvAnal]" value="<%=paramRes.obsvAnal%>">
                                <input type="hidden" name="paramRes[bolsistas]" value="<%=item.bolsistas%>">
                                <input type="hidden" name="paramRes[siglaIes]" value="<%=item.iesSigla%>">
                                <input type="hidden" name="paramRes[nomeIes]" value="<%=item.iesNome%>">
                                <td style="text-align: center;"><%=number%></td>
                                <td style="text-align: center;"><%=item.iesSigla%></td>
                                <td style="text-align: left;"><%=item.iesNome%></td>
                                <td><button type="submit" class="btn btn-sm btn-primary mx-auto my-auto" value="colbr"><strong><%=item.qtdeBolsistas%></strong></button></td>
                            </form>
                        <% }); %>
                        </tr>
                    </tbody>
                </table>
            </div>
       </div>
   </div>

</div>

<!-- closing elements -->
<% include partials/footer %>